<head>
  <title>Document</title>
</head>

<body>
  <%- include ('partials/nav') %>
  <h1>Welcome to the profile of <%= person %> </h1>
  <p><strong>Age: <%= data.age %> </strong></p>
  <p><strong>Job: <%= data.job %> </strong></p>
  <h2>Hobbies</h2>
  <ul>
    <% data.hobbies.forEach(hobby => { %>
    <li><%= hobby %> </li>
    <%}) %>
  </ul>
</body>

</html>